{% extends "base.html" %}
{% load static %}

{% block linkrel %}
    <link rel="stylesheet" href="{% static 'css/accounts/accounts.css' %}"/>
    <script src="{% static 'scripts/reset_pwd.js' %}"></script>
{% endblock %}

{% block sidebar %}
    {{ block.super }}
{% endblock %}

{% block accountbubble %}

{% endblock %}

{% block privatemessages %}

{% endblock %}

{% block content %}
    <div class="resetPwdForm" id="loginForm">
        <div id="header"> Réinitialisez votre mot de passe </div>

        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username">
        <button id="reset-pwd-btn-check-username" class="buttons_main">Continuer</button>

        <div id="username_not_found"></div>

        <div style="width:100%" id="secret_question_section" class="resetPwdForm secret_sections">
            <div id="secretQheader">Question secrète</div>
            <div id="secretQuestion"></div>

            <input type="hidden" id="idUser_secretAnswer" name="idUser">

            <label id="labelSecret" for="secretAnswer">Réponse secrète</label>
            <input type="text" id="secretAnswer">
            <button class="buttons_main" id="reset-pwd-btn-answer">Répondre</button>
            <div id="secret_answer_result"></div>
        </div>

        <div style="width:100%" id="new_mdp_section" class="resetPwdForm secret_sections">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="token" id="token">
                <input type="hidden" id="idUser_resetPwd" name="idUser">

                <label id="label_new_pwd" style="display:flex; justify-content:center" for="new_pwd">
                    <div>Nouveau mot de passe</div>
                    <i id="password-help" class="fa-solid fa-circle-question"></i>
                </label>
                <input type="password" name="new_pwd" id="new_pwd">

                <label for="new_pwd_conf">Confirmez votre nouveau mot de passe</label>
                <input type="password" name="new_pwd_conf" id="new_pwd_conf">

                <button type="submit" id="reset_pwd_btn" name="reset_pwd" class="buttons_main">Réinitialiser mon mot de passe</button>
            </form>
        </div>
    </div>

    <div class="info-bubble" id="info"></div>

    {% if popup %}
        <div id="resetPwdPopup" class="popup">
            <div style="width:100%; text-align: right;">
                <i id="btnClosePopup" class="btnclose fa-solid fa-circle-xmark fa-lg"></i>
            </div>
            <div style="padding:5px">
                <div style="font-size:2em">{{ popup }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}